<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dime, a Symfony2 based timetracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ asset('bundles/ruiantwitterbootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <style type="text/css">
        body {
          padding-top: 60px;
          padding-bottom: 40px;
        }
    </style>
    <link href="{{ asset('bundles/ruiantwitterbootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/dimetimetrackerfrontend/css/bootstrap-datepicker.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/dimetimetrackerfrontend/css/style.css') }}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="area-nav-main" class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          {% endif %}
          <div class="brand">Dime</div>
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <div id="nav-main" class="nav-collapse">
            <div class="nav pull-right">
              <form id="activity-track" class="navbar-search pull-left">
                <span id="activity-track-date" class="icon-calendar icon-white" title="{{ 'now'|date('Y-m-d') }}" data-toggle="datepicker" data-date="{{ 'now'|date('Y-m-d') }}" data-toggle="datepicker" data-date-autoclose="true" data-date-format="YYYY-MM-DD" data-date-weekstart="1"></span>
                <i class="icon-time icon-white" ></i>
                <input id="activity-track-input" class="search-query" placeholder="Track your activity..." type="text" />
              </form>
              <ul class="nav">
                <li><a href="#profile/{{ app.user.id }}" title="User profile"><i class="icon-user icon-white hide-text">Profile</i></a></li>
                <li><a href="{{ path('fos_user_security_logout') }}" title="Logout"><i class="icon-off icon-white hide-text">Logout</i></a></li>
              </ul>
            </div>
          </div><!-- /.nav-collapse -->
          {% endif %}
        </div>
      </div><!-- /navbar-inner -->
    </div>

    <div class="container">
      <header id="area-header">
        {% block header %}{% endblock %}
      </header>

      <section id="area-content">
        {% block content %}{% endblock %}
      </section>

      <footer id="area-footer">
        <p>PHPUGL 2011-2012 | Powered by Symfony2, Backbone.js and Bootstrap</p>
        {% block footer %}{% endblock %}
      </footer>
    </div> <!-- /container -->

    <script type="text/template" id="tpl-application-notification">
        <div class="alert<%- type %>"><button type="button" class="close" data-dismiss="alert">×</button><%- message %></div>
    </script>

    <!-- javascript
    ================================================== -->
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% javascripts
      '@js_vendors'
      '@js_plugins'
      '@js_app'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block js %}{% endblock %}
    {% endif %}
  </body>
</html>
