<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dime, a Symfony2 based timetracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ asset('bundles/ruiantwitterbootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/dimetimetrackerfrontend/css/bootstrap-datepicker.css') }}" rel="stylesheet">
    <style type="text/css">
        body {
          padding-top: 60px;
          padding-bottom: 40px;
        }
    </style>
    <link href="{{ asset('bundles/ruiantwitterbootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/dimetimetrackerfrontend/css/style.css') }}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="area-nav-main" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="#" class="brand">Dime</a>
          <div id="nav-main" class="nav-collapse">
            <div class="nav pull-right">
              <form id="activity-track" class="navbar-search pull-left">
                <i class="icon-time icon-white"></i>
                <input id="activity-track-input" class="search-query" placeholder="Track you activity..." type="text" />
              </form>
              <ul class="nav">
                <li><a href="#profile" title="User profile"><i class="icon-user icon-white"></i></a></li>
                <li><a href="#logout" title="Logout"><i class="icon-off icon-white"></i></a></li>
              </ul>
            </div>
          </div><!-- /.nav-collapse -->
        </div>
      </div><!-- /navbar-inner -->
    </div>


    <div class="container">
      <header id="area-header">
        {% block header %}{% endblock %}
      </header>

      <section id="area-content">
        {% block content %}{% endblock %}
      </section>

      <footer id="area-footer" class="footer">
        <p>PHPUGL 2011-2012 | Powered by Symfony2, Backbone.js and Bootstrap</p>
        {% block footer %}{% endblock %}
      </footer>
    </div> <!-- /container -->

    <!-- javascript
    ================================================== -->
    {% javascripts
      '@DimeTimetrackerFrontendBundle/Resources/public/js/vendors/json2.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/vendors/jquery.min.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/vendors/underscore.min.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/vendors/backbone.min.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/vendors/*'
      '@RuianTwitterBootstrapBundle/Resources/public/js/*'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/plugins/*'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/application.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/core/model/*'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/core/collection/*'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/core/helper/*'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/core/views/*'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/app/activity/*'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/app/service/*'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/app/customer/*'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/app/project/*'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/app/timeslice/*'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/app/user/*'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/app/main.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/app/router.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block js %}{% endblock %}
  </body>
</html>
