{% extends "DimeTimetrackerFrontendBundle::layout.html.twig" %}

{% block bodyclass %}login{% endblock %}

{% block content %}

<div class="row">
    <div class="page-header large-6 medium-8 small-12 column">
        <h1>
            <img src="{{ asset('bundles/dimetimetrackerfrontend/images/logo_title.png') }}" class="logo" />
            <small>{% trans %}Improve your work time tracking{% endtrans %}</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="small-12 large-3 medium-6 column small-centered login-box">
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin well">
            {% if error %}
                <div class="alert alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <div class="input-prepend">
                <input id="username" name="_username" required class="" type="text" value="{{ last_username }}" placeholder="{% trans %}Username{% endtrans %}">
            </div>
            <div class="input-prepend">
                <input id="password" name="_password" required class="" type="password" value="" placeholder="{% trans %}Password{% endtrans %}">
            </div>
            <div>
                <label class="checkbox" for="remember_me"><input id="remember_me" name="_remember_me" type="checkbox" value="on"> {% trans %}Remember me{% endtrans %}</label>
            </div>
            <div class="text-center">
                <input class="button expand small" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}
